.josie-lins-workplace {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 973.14px;
  height: 375.63px;
  flex-shrink: 0;
  -webkit-text-stroke: 7px #fff;
  transform: rotate(-13.1deg);
  transform-origin: 0 0;
}
.desktop-1 {
  background: linear-gradient(
    180deg,
    #f4692e,
    #f2e910 14.58%,
    #16d323 34.9%,
    #16b1d3 51.04%,
    #6832d8 66.67%,
    #f47db6 85.42%,
    #fff
  );
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 208.87783813476562px 140.86175537109375px 208.87783813476562px 326px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
  font-size: 128px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-2-child,
.desktop-2-item {
  position: absolute;
  top: 44px;
  left: 0;
  border-radius: 50%;
  width: 754px;
  height: 818px;
  object-fit: cover;
}
.desktop-2-item {
  top: 199px;
  left: 865px;
  width: 313px;
  height: 313px;
}
.meet-josie-lin {
  position: absolute;
  top: 113px;
  left: 894px;
  font-weight: 800;
  color: #0a0a0a;
  display: inline-block;
  width: 309px;
}
.artist-from-taiwan,
.born-in-2006 {
  position: absolute;
  top: 550px;
  left: 842px;
  font-weight: 300;
  display: inline-block;
  width: 414px;
}
.born-in-2006 {
  top: 616px;
  left: 894px;
}
.desktop-2 {
  position: relative;
  background: linear-gradient(180deg, #fff, #9fffff 57.81%, #fff);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-3-child,
.desktop-3-child1,
.desktop-3-inner,
.desktop-3-item,
.rectangle-icon {
  position: absolute;
  top: 164px;
  left: 92px;
  width: 312px;
  height: 374px;
  object-fit: cover;
}
.desktop-3-child1,
.desktop-3-inner,
.desktop-3-item,
.rectangle-icon {
  top: 571px;
}
.desktop-3-child1,
.desktop-3-inner,
.rectangle-icon {
  top: 164px;
  left: 1052px;
}
.desktop-3-child1,
.rectangle-icon {
  top: 571px;
}
.desktop-3-child1 {
  top: 164px;
  left: 462px;
  width: 509px;
  height: 781px;
}
.gallery1,
.learn-more {
  margin: 0;
  position: absolute;
  top: 19px;
  left: 92px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 944px;
  height: 233px;
}
.learn-more {
  top: 50px;
  left: 462px;
  font-size: 64px;
  font-style: italic;
  font-weight: 100;
  width: 418px;
  height: 62px;
  -webkit-text-stroke: 5px #ffe500;
  cursor: pointer;
}
.desktop-3 {
  position: relative;
  background: linear-gradient(180deg, #fff, #71cab9 53.13%, #fff);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 96px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-1-parent,
.frame-parent {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  position: relative;
  width: 100%;
}
